{{!
This file is part of Moodle - http://moodle.org/

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle. If not, see
<http: //www.gnu.org/licenses />.
}}
{{!
@template local_asistencia/manage

Example context (json):
{

}
}}
<div class=" mb-3 justify-content-between">
    <div class="d-flex justify-content-start ml-4 my-2">
        <div class="position-relative d-inline-block"
            onclick="location.href='/{{dirroot}}/local/asistencia/index.php?courseid={{courseid}}'"
            style="cursor: pointer;">
            <button type="button" class="btn btn-custom btn-small">
                Menú
            </button>
            <span class="icon-circle-overlap">
                <i class="fa-solid fa-arrow-left"></i>
            </span>
        </div>
    </div>

</div>
<br>

<div class="container">
    <div class="row">
        <div class="col d-flex">
            <form method="get" action="/{{dirroot}}/local/asistencia/activities.php"
                class="d-flex flex-wrap align-items-end ">
                <input type="hidden" name="courseid" value="{{courseid}}">
                <input type="hidden" name="search" value="{{search}}">
                <div class="form-group">
                    <label for="startdate">Fecha de generación desde:</label>
                    <input type="date" name="startdate" id="startdate" value="{{startdate}}" class="form-control" />
                </div>

                <div class="form-group mx-2">
                    <label for="enddate">Fecha de generación hasta:</label>
                    <input type="date" name="enddate" id="enddate" value="{{enddate}}" class="form-control" />
                </div>

                <div class="form-group mx-2">
                    <label for="submit"> </label>
                    <button type="submit" id="color_btn" class="btn btn-primary">Filtrar</button>
                </div>
            </form>
        </div>
        <div class="col-auto d-flex align-items-center justify-content-end mt-4">
            <button id="color_btn" class="btn btn-primary px-3 py-2 my-2" style="font-size: 0.85rem; line-height: 1.2;"
                onclick="location.href='/{{dirroot}}/local/asistencia/download_history.php?courseid={{courseid}}&search={{search}}&startdate={{startdate}}&enddate={{enddate}}'">
                <i class="fa-regular fa-circle-down" style="margin-right: 8px;"></i>
                <span>Descargar Reporte</span>
            </button>
        </div>
    </div>


   
        <form method="get" action="/{{dirroot}}/local/asistencia/activities.php" class=""
            style="display: flex; align-items: center; gap: 10px;">
            <input type="hidden" name="courseid" value="{{courseid}}">
            <input type="hidden" name="startdate" value="{{startdate}}">
            <input type="hidden" name="enddate" value="{{enddate}}">
            <input type="text" name="search" value="{{search}}" class="form-control"
                placeholder="Buscar por mensaje, fecha o nombre de usuario">
            <button type="submit" id="color_btn" class="btn btn-primary">Buscar</button>
    </form>
    <br>
    <div class="fortable" style="width:auto; overflow-x: auto">
        <table id="attendance-table" class="table table-hover table-container"
            style="width: 100%; table-layout: fixed;">
            <thead>
                <tr>
                    <th>MENSAJE</th>
                    <th>FECHA</th>
                    <th>NOMBRE DE USUARIO</th>
                </tr>
            </thead>
            <tbody>
                {{#activities}}
                <tr>
                    <td>{{message}}</td>
                    <td>{{date}}</td>
                    <td>{{username}}</td>
                </tr>
                {{/activities}}
            </tbody>
        </table>
    </div>

</div>

<div class="container my-2 d-flex flex-wrap justify-content-center">
    {{#pages}}
    <div class="mx-1">
        {{#current}}
        <button type="button" class="btn btn-secondary" disabled>{{page}}</button>
        {{/current}}

        {{^current}}
        {{#active}}
        <button type="button" class="btn btn-light" disabled>{{page}}</button>
        {{/active}}

        {{^active}}
        <button type="button" class="btn btn-primary"
            onclick="location.href='/{{dirroot}}/local/asistencia/activities.php?courseid={{courseid}}&page={{page}}&search={{search}}&startdate={{startdate}}&enddate={{enddate}}'">
            {{page}}
        </button>
        {{/active}}
        {{/current}}
    </div>
    {{/pages}}
</div>