{{!
This file is part of Moodle - http://moodle.org/

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle. If not, see
<http: //www.gnu.org/licenses />.
}}
{{!
@template local_asistencia/manage


Example context (json):
{

}
}}
<div class="d-flex justify-content-start ml-4 my-2">
  <div class="position-relative d-inline-block" onclick="location.href='/{{dirroot}}/local/asistencia/index.php?courseid={{courseid}}'" style="cursor: pointer;">
    <button type="button" class="btn btn-custom btn-small">
      Menú
    </button>
    <span class="icon-circle-overlap">
      <i class="fa-solid fa-arrow-left"></i>
    </span>
  </div>
</div>
<br>
<div class="container">
    <!-- Primera fila: Botones principales -->
    
    <!-- Filtro de fechas -->
    <div class="row mb-4">
        <div class="col-md-12">
           <form action="./history.php" method="GET" class="d-grid gap-2">
    <input type="hidden" name="courseid" value="{{courseid}}">
    <input type="hidden" name="info" value="h">
    <input type="hidden" name="range" value="{{range}}">
    <input type="hidden" name="limit" value="{{limit}}">

    <div class="mb-2">
        <select class="custom-select" id="date-range-select" name="filtro_fecha">
            <option value="0" {{#option}}selected{{/option}}>Seleccione una opción</option>
            <option value="day" {{#day}}selected{{/day}}>Día</option>
            <option value="week" {{#week}}selected{{/week}}>Semana actual</option>
            <option value="range_dates" {{#range_dates}}selected{{/range_dates}}>Rango de fechas</option>
        </select>
    </div>

    <div id="date-inputs-container" class="row g-3 align-items-center" style="display: none;">
        <div class="col-auto">
            <label for="start-date">Fecha de inicio:</label>
            <input class="form-control" type="date" id="start-date" name="initial" value="{{initial_value}}" max="{{finaldate}}">
        </div>
        <div class="col-auto">
            <label for="end-date">Fecha de fin:</label>
            <input class="form-control" type="date" id="end-date" name="final" value="{{final_value}}" min="{{initialdate}}">
        </div>
    </div>

    <div>
        <button type="submit" id="color_btn" class="btn btn-primary mt-2">
            <i class="fa-solid fa-filter" style="margin-right: 8px;"></i> Filtrar fecha
        </button>
    </div>
</form>

        </div>
    </div>

    <!-- Botón de asistencia -->
    <div class="row mb-3 justify-content-between">
        <!-- Botones de descarga a la izquierda -->
        <div class="col-md-auto d-flex gap-2 g-2 my-2">
            <button type="button" id="color_btn"class="btn btn-primary "
                onclick="location.href='/{{dirroot}}/local/asistencia/downloader.php?courseid={{courseid}}&cumulous={{range}}&initialdate={{initial_value}}&finaldate={{final_value}}'">
               <i class="fa-regular fa-circle-down" style="margin-right: 8px;"></i>
               
                  <span> Descargar reporte</span>
            </button>
            <button type="button" class="btn btn-primary mx-2 hidden"
                onclick="location.href='/{{dirroot}}/local/asistencia/detailed_report_downloader.php?courseid={{courseid}}&cumulous={{range}}&initialdate={{initial_value}}&finaldate={{final_value}}'"
                id="detailed_donwloader" title="Habilitado para rangos de 7 días o menos.">
                Descargar reporte semanal
            </button>
        </div>

        <!-- Botón de mostrar consolidado a la derecha -->
        <div class="col-md-auto my-2">
            <button type="button" class="btn btn-primary"id="color_btn"
                onclick="location.href='/{{dirroot}}/local/asistencia/history.php?courseid={{courseid}}&page={{page}}&info=h&initial={{initial}}&final={{final}}{{#day}}&day=1{{/day}}{{#week}}&week=1{{/week}}{{#range_dates}}&range_dates=1{{/range_dates}}&range={{#range}}0{{/range}}{{^range}}1{{/range}}'">
                <i class="fa-solid fa-table" style="margin-right: 8px;"></i>Mostrar {{^range}}consolidado de{{/range}}{{#range}}mi{{/range}} asistencia {{^range}}por todos los
                instructores{{/range}}
            </button>
             <button type="button" class="btn btn-primary"id="color_btn"
                onclick="location.href='/{{dirroot}}/local/asistencia/history.php?courseid={{courseid}}&info=h&page=1&initial={{initial}}&final={{final}}{{#day}}&day=1{{/day}}{{#week}}&week=1{{/week}}{{#range_dates}}&range_dates=1{{/range_dates}}{{#range}}&range=1{{/range}}{{^range}}&range=0{{/range}}{{#limit}}&limit=0{{/limit}}{{^limit}}&limit=1&page=1{{/limit}}'">
                {{#limit}}  <i class="fa-solid fa-list" style="margin-right: 8px;"></i>Ver listado completo{{/limit}}{{^limit}}<i class="fa-solid fa-file-alt"style="margin-right: 8px;"></i>Ver paginado{{/limit}}
            </button>

        </div>
    </div>
</div>


<div class="container" style="display: flex; align-items: center; gap: 10px;">
    <h1 style="margin: 0;">Buscar:</h1>
    <input type="text" id="searchInput" class="form-control"
        placeholder="Buscar por documento, apellidos, nombres o correo">
</div>
<br>
<div class="container fortable" style="width:auto; overflow-x: auto">

    <table class="table table-hover table-container" id="attendance-table">
        <thead>
            <tr>
                <th class="sticky-column">
                    DOCUMENTO
                </th>
                <th class="sticky-column">
                    APELLIDOS
                </th>
                <th class="sticky-column">
                    NOMBRES
                </th>
                <th class="sticky-column">
                    CORREO
                </th>
                <th class="sticky-column">
                    ESTADO
                </th>

                {{#monthheader}}
                <th>
                    {{day}}<br>{{date}}
                </th>
                {{/monthheader}}

            </tr>
        </thead>
        <tbody>
            {{#students}}
            <tr>
                <td class="sticky-column">
                    {{username}}
                </td>
                <td class="sticky-column">
                    {{lastname}}
                </td>
                <td class="sticky-column">
                    {{firstname}}
                </td>
                <td class="sticky-column">
                    {{email}}
                </td>
                <td class="sticky-column">
                    {{#status}}SUSPENDIDO{{/status}}
                    {{^status}}ACTIVO{{/status}}
                </td>
                {{#month}}
                <td class="select-container">
                    {{#current}}
                    <p>No Info.</p>
                    {{/current}}
                    {{^current}}
                    {{#selection}}
                    {{#../range}} {{! PERSONAL (range = 1) }}
                    <p>{{op}}</p>
                    <p>Horas ausencia {{time}}</p>
                    {{/../range}}

                    {{^../range}} {{! CONSOLIDADO (range = 0) }}
                    {{#details}}
                    <p>{{.}}</p>
                    {{/details}}

                    {{^details}}
                    <p> {{op}}</p>
                    <p>Horas ausencia: {{time}}</p>
                    {{/details}}
                    {{/../range}}
                    {{/selection}}
                    {{/current}}
                </td>
                {{/month}}
            </tr>
            {{/students}}
        </tbody>
    </table>

</div>
<div>
    <br>
    <div class="container">
        {{#listpages}}
        {{#current}}
        <button type="button" class="btn btn-secondary" disabled>{{page}}</button>
        {{/current}}
        {{^current}}

        <button type="button" class="btn btn-primary"
    onclick="location.href='/{{dirroot}}/local/asistencia/history.php?courseid={{courseid}}&page={{page}}&info=h&initial={{initial_value}}&final={{final_value}}&filtro_fecha={{#day}}day{{/day}}{{#week}}week{{/week}}{{#range_dates}}range_dates{{/range_dates}}&range={{range}}&limit={{limit}}'"
>{{page}}</button>


        {{/current}}
        {{/listpages}}
    </div>
    <br>
    <br>

</div>