.container {
    padding-left: 0%;
}

.fortable {
    border: 0.1rem solid #39a900;
    border-radius: 12px;
}

.table-container {
    border-radius: 12px;
    overflow-x: auto;
    width: auto;
    position: relative;
}

.table-container th,
.table-container td {

    min-width: 120px;
    word-break: break-word;
    border: 1px solid #ddd;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

select.custom-select,
select.form-select,
select.form-select-h {
    border: 0.1rem solid #39a900;
    border-radius: 4px;
}

.sticky-column {
    background-color: #f1f1f1;
    z-index: 1;
    box-sizing: border-box;
    min-width: 150px;
    max-width: 150px;
    width: 150px;
}


.input-class {
    display: none;
}

.my-button {
    position: sticky;
    left: 0;
}

.input-container {
    display: none;

}

.extra-input {
    width: 4rem;
}

.attendance-row {
    flex-flow: row-reverse;
}

.new-modal {
    background-color: #00000088;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    position: fixed;
    inset: 0;
    display: none;
    z-index: 1000;
}

.new-modal:target {
    display: block;
}

.floating-card {
    float: none;
    margin: 5px;
    max-width: 400px;
    z-index: 1;

}

.button-container {
    display: grid;
    gap: 16px;
    justify-content: center;
}

.button-group {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.btn-custom {
    width: 220px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    background-color: #39a900;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn-custom:hover {
    background-color: #218838;
}

/* imagen del menu  */

  .button-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px 0;
  }
  
  
  .image-button {
    position: relative;
    width: 100%;
    max-width: 220px;
    height: auto;
  }
  
  .image-button img {
    width: 100%;
    display: block;
    transition: opacity 0.2s ease;
    border-radius: 8px;
  }
  
  .img-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  
  .image-button:hover .img-hover {
    opacity: 1;
  }
  
  .image-button:hover .img-normal {
    opacity: 0;
  }
  